section#edit-apartment {
    background-color: $bg-primary-dark;
    color: $text-gray-light;

    label {
        color: $text-gray-light;
    }
    .wrapper-input {
        border: 2px solid $primary-green-light;
        overflow: hidden;
    }
    input,
    select {
        background-color: $bg-secondary-dark;
        color: $text-gray-light;
        &::placeholder {
            color: $text-gray-light;
        }
    }

    input[type="checkbox"] + label {
        background-color: transparent;
    }
    #input-image {
        cursor: pointer;
    }
    input::placeholder {
        color: $text-gray-dark;;
    }
    span.input-group-text {
        background-color: $bg-secondary-dark;
        color: $text-gray-light;
    }
    label[for="category_id"],
    label[for="input-image"],
    label[for="input-image"]::after,
    input[type="file"],
    textarea {
        border: none;
        color: $text-gray-light;
        background-color: $bg-secondary-dark;
    }
    label[for="input-image"]::after {
        border-left: 1px solid $text-gray-light;
    }
    button {
        font-size: .875rem;
        background-color: $primary-green-light;
        border-radius: .75rem;
        margin-right: .625rem;
        &:hover {
            color: $text-gray-light;
            background-color: $primary-green-dark;
            border: 1px solid $primary-green-light;
        }
    }
    a {
        text-decoration: none;
    }

    #servizi_error_box {
        display: none;
        background-color: #f6c2c4;
        color: #90141b;
        border: 1px solid #90141b;
        font-size: 1rem;
        border-radius: 0 0 .375rem .375rem;
    }
    label.error {
        background-color: #f6c2c4;
        color: #90141b;
        border: 1px solid #90141b;
        border-radius: 0 0 .375rem .375rem;
        font-size: 1rem;
        padding: 0 .9375rem;
    }
    .back_button {
        background-color: $bg-gray-light;
        margin-top: .5rem;
        &:hover {
            color: $text-gray-light;
            background-color: $bg-gray-dark;
            border: 1px solid $primary-green-light;
        }
    }
}
