section#edit-apartment {
    background-color: $bg-primary-dark;
    color: $text-gray-light;

    label {
        color: $text-gray-light;
    }
    .wrapper-input {
        border: 2px solid $primary-green-light;
        overflow: hidden;
    }
    input,
    select {
        background-color: $bg-secondary-dark;
        color: $text-gray-light;
        &::placeholder {
            color: $text-gray-light;
        }
    }

    input[type="checkbox"] + label {
        background-color: transparent;
    }
    span.input-group-text {
        background-color: $bg-secondary-dark;
        color: $text-gray-light;
    }
    label[for="category_id"],
    label[for="input-image"],
    label[for="input-image"]::after,
    input[type="file"],
    textarea {
        border: none;
        color: $text-gray-light;
        background-color: $bg-secondary-dark;
    }
    label[for="input-image"]::after {
        border-left: 1px solid $text-gray-light;
    }
    button {
        color: $text-gray-light;
        background-color: $primary-green-light;
        border: 1px solid $primary-green-light;

        &:hover {
            background-color: $text-gray-light;
            border: 1px solid $primary-green-light;
            color: $text-blue-dark;
        }
    }
}
