section#index-messages {
    color: $text-gray-dark;
    background-color: $bg-primary-dark;
    h1 {
        color: $text-gray-light;
        text-transform: none;
    }
    .message-header {
        height: 100px;
        border-radius: 20px;
        border: 2px solid $primary-green;
        background-color: $bg-secondary-dark;

        h4 {
            color: $primary-green-light;
        }

        h4:hover {
            text-decoration: underline;
        }

        h5 {
            color: $text-gray-light;
        }
    }
    .message-body {
        background-color: $bg-primary-light;
        color: $text-gray-light;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: 1px dotted $text-gray-light;
        border-bottom: 1px dotted $text-gray-light;
        border-left: 1px dotted $text-gray-light;
    }
    button {
        font-size: .875rem;
        background-color: $primary-green-light;
        border-radius: .75rem;
        margin-right: .625rem;
        &:hover {
            color: $text-gray-light;
            background-color: $primary-green-dark;
            border: 1px solid $primary-green-light;
        }
    }
    .back_button {
        background-color: $bg-gray-light;
        &:hover {
            color: $text-gray-light;
            background-color: $bg-gray-dark;
            border: 1px solid $primary-green-light;
        }
    }
    .buttons {
        min-width: 200px;
    }
}
