section#index-sponsorships {
    color: $text-gray-dark;
    background-color: $bg-primary-dark;
    height: 100vh;

    .sponsorship {
        background-color: $bg-secondary-dark;
        color: $primary-green-light;
        width: 600px;
        border: 1px solid $primary-green;
        border-radius: 30px;
        font-size: large;
        font-weight: bold;
        cursor: pointer;
    }

    @mixin rombo($diagonaleMaggiore, $angoloDiBase) {
        width:$diagonaleMaggiore;
        height:$diagonaleMaggiore; 
        transform:rotate(45deg) skew($angoloDiBase, $angoloDiBase);
    }

    .rombo {
        @include rombo(80px, 3deg);
        color: $text-blue-dark;
        position: relative;
        border-radius: 10px;
        background: rgb(66,211,172);
        background: linear-gradient(90deg, rgba(66,211,172,1) 23%, rgba(5,231,182,1) 40%, rgba(24,225,187,1) 51%, rgba(66,211,197,1) 76%);
    }

    .label, .label_bronze {
        position: absolute;
        font-size: large;
        font-weight: bold;
        transform:rotate(-45deg);
        margin-top: 23px; 
    }

    .label_bronze {
        margin-left: 5px;
    }

    .label {
        margin-left: 13px;
    }

    .gold .rombo {
        background: rgb(253,187,45);
        background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(238,181,58,1) 39%, rgba(189,152,72,1) 100%);
    }

    .silver .rombo {
        background: rgb(238,238,238);
        background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(219,216,216,1) 27%, rgba(192,192,192,1) 56%);
    }

    .bronze .rombo {
        background: rgb(194,140,43);
        background: linear-gradient(0deg, rgba(194,140,43,1) 0%, rgba(161,101,29,1) 42%, rgba(164,83,18,1) 94%);
    }
}