section#show-apartment {
    background-color: $bg-primary-dark;
    color: $text-gray-dark;
    padding: 1rem;
    b {
        font-size: 1.5rem;
        color: $primary-green-light;
    }
    h1,
    h2,
    h4 {
        color: $text-gray-light;
        margin-bottom: 0;
        text-transform: none;
    }
    .container {
        background-color: $bg-secondary-dark;
        border-radius: 0.5rem;
        border: 1px solid $bg-primary-light;
    }
    .title_address {
        word-wrap: break-word;
    }

    img {
        max-height: 20rem;
        object-fit: cover;
        border-radius: 0.5rem;
        outline: 1px solid $primary-green-dark;
        outline-offset: 0.125rem;
    }

    .back_button {
        background-color: $bg-gray-light;
        &:hover {
            color: $text-gray-light;
            background-color: $bg-gray-dark;
            border: 1px solid $primary-green-light;
        }
    }

    .update_button {
        font-size: 0.875rem;
        background-color: $primary-green-light;
        margin-right: 0.625rem;
        &:hover {
            color: $text-gray-light;
            background-color: $primary-green-dark;
            border: 1px solid $primary-green-light;
        }
    }
    .upgrade_container {
        position: relative;
        height: 100%;
    }
    @mixin rombo($diagonaleMaggiore, $angoloDiBase) {
        min-width: $diagonaleMaggiore;
        min-height: $diagonaleMaggiore;
    }
    .upgrade_button {
        position: absolute;
        transform: translate(-50%, -50%) rotate(45deg) skew(2deg, 2deg);
        text-decoration: none;
        color: $yellow;
        font-size: large;
        font-weight: bold;
    }
    .rombo {
        @include rombo(4.375rem, 2deg);
        border-radius: 10px;
        border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
        background: rgb(21,95,62);
        background: linear-gradient(rgba(21,95,62,1) 0%, rgba(66,184,131,1) 80%);
        border: 2px solid #BF953F;
        transition: .2s;
        &:hover {
            scale: 110%;
            filter: brightness(1.4);
        }
    }
    .upgrade_text {
        position: absolute;
        transform: translate(-50%, -50%);
        background: #ffc95c;
        font-weight: 800;
        font-size: 1.125rem;
        filter: drop-shadow(1px 1px 1px rgb(23, 23, 23));
        pointer-events: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    iframe {
        border-radius: 0.75rem;
        outline: 1px solid $text-gray-dark;
        outline-offset: 1px;
    }
}
