// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Bnb Color Palette
//  main colors
$primary-green: #42b883;
$primary-green-light: #42d392;
$primary-green-lighter: #35eb9a;
$primary-green-dark: #33a06f;
$primary-green-darker: #155f3e;
$primary-blue: #3b8eed;
$primary-blue-light: #549ced;
$primary-blue-lighter: #50a2ff;
$primary-blue-dark: #3468a3;
$primary-blue-darker: #255489;

//  background colors

$bg-primary-dark: #1a1a1a;
$bg-secondary-dark: #242424;

//tipography

$text-gray-light: #e1e1e1;
$text-gray-dark: #4e4e4e;
$text-blue-light: #aac8e4;
$text-blue-dark: #213547;
